/* .themify_builder_content-4390 > .module_row_0 Style */
.themify_builder_content-4390 > .module_row_0.module_row {
	background-color: #fafafa;;
	border-bottom: #eeeeee 1px solid;
}

.themify_builder .text-4390-0-0-1.module-text { font-family: Arial, Helvetica, sans-serif; color: rgba(84,84,84, 1); font-size: 14px; margin-top: 3%; margin-left: 5%;  } 
.themify_builder .text-4390-0-0-1.module-text h1 { color: rgba(84,84,84, 1);  } 
.themify_builder .text-4390-0-0-1.module-text h2 { color: rgba(84,84,84, 1);  } 
.themify_builder .text-4390-0-0-1.module-text h3:not(.module-title) { color: rgba(84,84,84, 1);  } 
.themify_builder .text-4390-0-0-1.module-text h4 { color: rgba(84,84,84, 1);  } 
.themify_builder .text-4390-0-0-1.module-text h5 { color: rgba(84,84,84, 1);  } 
.themify_builder .text-4390-0-0-1.module-text h6 { color: rgba(84,84,84, 1);  } 
.themify_builder .text-4390-1-0-1.module-text { font-family: Arial, Helvetica, sans-serif; color: rgba(122,122,122, 1); font-size: 14px; padding-top: 5%;  } 
.themify_builder .text-4390-1-0-1.module-text h1 { color: rgba(122,122,122, 1);  } 
.themify_builder .text-4390-1-0-1.module-text h2 { color: rgba(122,122,122, 1);  } 
.themify_builder .text-4390-1-0-1.module-text h3:not(.module-title) { color: rgba(122,122,122, 1);  } 
.themify_builder .text-4390-1-0-1.module-text h4 { color: rgba(122,122,122, 1);  } 
.themify_builder .text-4390-1-0-1.module-text h5 { color: rgba(122,122,122, 1);  } 
.themify_builder .text-4390-1-0-1.module-text h6 { color: rgba(122,122,122, 1);  } 
